# Basic Authentication Credentials
ADMIN_USERNAME=admin # Cannot be just USERNAME because it's used by Windows 😂
ADMIN_PASSWORD=admin

# Blue-Eyed Service Hostname
SERVICE_HOSTNAME=http://auth.localhost

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/blue-eyed?schema=public"